# Python cache
__pycache__/
.ipynb_checkpoints/
.idea/
.devcontainer/
*.pyc

# Dataset
dataset/

# Temporary files
temp_file.jpg

# Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

Training/

Notebook/dataset.zip